[Desktop Entry]
Type=Application
Name=LXQt Application Switcher
GenericName=Window Switcher
Comment=List of windows displayed while cycling by keyboard shortcut.
TryExec=lxqt-appswitcher
Exec=lxqt-appswitcher

OnlyShowIn=LXQt;
X-LXQt-Module=true
Hidden=true

Name[de]=Anwendungsumschalter
GenericName[de]=Anwendungsumschalter
Comment[de]=Per Tastatur eine Liste laufender Anwendungen anzeigen und zwischen diesen wechseln.
Name[it]=Scambiafinestre
Comment[it]=Elenca e scambia le finestre aperte
